.service{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
    border-radius: 10px;
    background-color: #a9c6f58a;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    transition: all 0.5s;
    transform: scale(.95);
}

.service:hover{
    transform: scale(1);
}

.service h3{
 text-align: center;
}

.service img{
   border-radius: 10px;
   width: 100%;
   height: auto;
}

.service-price{
    font-weight: 700;
    font-size: 20px;

}

.service-info{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
}

.service-btn{
    
    color: #fff;
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 25px;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;
    cursor: pointer;
}

.service-btn:active{
    transform: scale(.96);
}